doctype html

html
  head
    meta(charset='UTF-8')
    title Shopbuddy – You shop, we buy
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500', rel='stylesheet', type='text/css')
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/inject.bundle.js')
    script(src=env == 'prod' ? '/js/todoapp.bundle.js' : 'https://localhost:3000/js/todoapp.bundle.js')
